.gallery {
  display: flex;
  flex-wrap: wrap; /* Забезпечує перенесення елементів на новий рядок */
  justify-content: space-between; /* Додає відстань між елементами */
  gap: 16px; /* Відстань між елементами */
  list-style: none;
  padding: 0;
}

.galleryItem {
  flex: 1 1 calc(25% - 16px); /* Розміщує елементи у рядок, займаючи 25% ширини */
  box-sizing: border-box;
  margin-bottom: 16px; /* Відступи знизу для кращого вигляду */
  overflow: hidden;
  border-radius: 8px;
  list-style: none;
}

/* .galleryItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
} */
@media (max-width: 768px) {
  .galleryItem {
    flex: 1 1 calc(50% - 16px); /* Два елементи у рядку на менших екранах */
  }
}

@media (max-width: 480px) {
  .galleryItem {
    flex: 1 1 100%; /* Один елемент у рядку на дуже малих екранах */
  }
}
